@model SuperZapatos.Models.StoreModel

@{
    ViewBag.Title = "Editar Tienda";
}
<div class="row">
    <div class="col-md-12">
        <br />
        <div align="center">
            <h1>Editar Tienda "@Model.Name"</h1>
        </div>
        <div class="well well-sm">
            <div class="row">
                <div class="col-md-12">
                    <input type="button" value="Guardar" id="save" class="btn btn-success" />
                    <input type="button" value="Cancelar" id="cancel" class="btn btn-danger" />
                </div>
            </div>
        </div>
        <hr />
        <div class="form-horizontal">
            <input type="hidden" value="@Model.Id" id="storeId" />
            <div class="form-group">
                <label class="control-label col-md-3">Nombre</label>
                <div class="col-md-9">
                    <input class="form-control" type="text" id="name" value="@Model.Name" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">Dirección</label>
                <div class="col-md-9">
                    <input class="form-control" type="text" id="address" value="@Model.Address" />
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        $("#cancel").click(function () {
            window.location.href = "@Url.Action("Index", "Store")";
        });
        $("#save").click(function () {
            let name = $("#name").val().trim();
            let address = $("#address").val().trim();
            let storeId = $("#storeId").val();

            if (name == "" || address == "") {
                mdtoast("Completar todos los campos", {
                    type: mdtoast.ERROR,
                    interaction: true,
                    actionText: "OK!"
                });
                return;
            }

            let store = {
                Name: name,
                Address: address,
                Id: storeId
            }

            let url = "@Url.Action("Edit", "Store")";

            $.post(url, store)
                .then(result => {
                    mdtoast("Tienda actualizada con exito!", {
                        type: mdtoast.SUCCESS,
                        interaction: true,
                        actionText: "OK!"
                    });
                     setTimeout(function () {
                        window.location.href = "@Url.Action("Index", "Store")";
                    }, 1500);
                })
                .fail(error => {
                    mdtoast("Ocurrio un error!", {
                        type: mdtoast.ERROR,
                        interaction: true,
                        actionText: "OK!"
                    });
                })

        });
    </script>
}